@import "./variables.scss";

body {
  font-family: Helvetica;
  font-size: 1em;
  background: #fffcf8;
  margin: 0;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
}

.filter-navbar {
  position: fixed;
  background: $green;
  padding: 16px;
  width: 100%;
  left: 0;
}

.price-container {
  width: 50%;
}

.price-input {
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field {
  display: flex;
  height: 45px;
  align-items: center;
}

.field input {
  height: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 5%;
  right: 60%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 236px;
}

.products-container div {
  outline: 1px solid;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 24px;
  margin: 8px;
}