@import "./variables.scss";

body {
  font-family: Helvetica;
  font-size: 1em;
  background: #fffcf8;
  margin: 0;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
}

.filter-navbar {
  position: fixed;
  background: $green;
  padding: 16px;
  width: 100%;
  left: 0;
}

.range-slider {
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0;
}

.price-input {
  position: relative;
}

.price-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.price-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}

.price-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.price-range {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-range label {
  margin-right: 5px;
}
.price-range input {
  width: 40px;
  padding: 5px;
}
.price-range input:first-of-type {
  margin-right: 15px;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 132px;
}

.products-container div {
  outline: 1px solid;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 24px;
  margin: 8px;
}
